# -*- conf -*-

# Scipion will read this file to construct the protocols menu.

[PROTOCOLS]

Protocols = [{
	"tag": "section",
	"text": "Experiments",
	"icon": "bookmark.png",
	"children": [{
		"tag": "protocol",
		"value": "ProtImportExperiment",
		"text": "import experiment"
	}]
    },
    {
	"tag": "section",
	"text": "Non-compartmental",
	"icon": "bookmark.png",
	"children": [{
		"tag": "protocol",
		"value": "ProtPKPDNCA",
		"text": "non-compartmental analysis"
	}]
    }]
